.button-cv{
    color: white;
    width: 38%;
    height: 45px;
    border: 2px solid white;
    border-radius: 50px;
    display: grid;
    place-items: center;
    box-shadow: 1px 2px 20px 0px #00000080;
    cursor: pointer;
    background-color: transparent;
}