.tags-container {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

.tags {
	display: flex;
	flex-wrap: wrap;
}

.tag {
	background-color: var(--color-blanco);
	color: var(--color-negro);
	font-size: 12px;
	padding: 4px 10px;
	margin: 4px;
	border-radius: 20px;
	font-weight: 600;
	transition: 0.2s ease-out all;
}

.tag:hover {
	opacity: 0.8;
	transform: scale(1.2);
}
