.card-flow {
	width: 90%;
	margin: 50px auto;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}

.card-flow::after {
	content: "";
	width: 2px;
	height: 100%;
	background: #1b3231;
	position: absolute;
	top: 0;
	left: calc(50% - 1px);
	z-index: 1;
}
