.knowledge-box {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.logo-gallery {
	display: flex;
	animation: knowledge-bar 25s linear infinite;
	-webkit-animation: knowledge-bar 25s linear infinite;
	width: calc(100px * 28); /* Ajusta la cantidad total de logos duplicados */
}

.logo-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100px;
}

.logo-item img {
	width: 100%;
	aspect-ratio: 3/2;
	object-fit: contain;
}

@keyframes knowledge-bar {
	0% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}

	100% {
		-webkit-transform: translateX(calc(-100px * 14));
		transform: translateX(calc(-100px * 14));
	}
}
