.presentation-box {
	text-align: center;
	width: 100%;
	max-height: 9.375em;
}
.presentation-box h1 {
	font-size: 3.75rem;
	line-height: 1;
	letter-spacing: -0.025em;
}

.presentation-box h1 span {
	color: var(--color-negro);
}
.subtitle {
	font-size: 1.5em; /* Tamaño más pequeño para el subtítulo */
	padding: 0.33em; /* Espacio entre el nombre y el subtítulo */
	color: var(--color-gris);
	line-height: 1;
	letter-spacing: -0.025em;
}

@media (max-width: 1300px) {
	/* Estilos para pantallas de tabletas med*/
	.presentation-box h1{
		font-size: 3em; /*  ajustar el tamaño del nombre según el tamaño de la pantalla*/
	}
}

@media (max-width: 1040px) {
	/* Estilos para pantallas de tabletas peq*/
	.presentation-box h1{
		font-size:  1.75rem;
	}
}


@media (max-width: 830px) {
	.presentation-box {
		width: 50%;
		order: 2;
	}
	.subtitle{
		padding: 0;
	}
}