/* Contacto.css */

/* Estilos para el formulario */
.form-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

.label {
  font-size: 1.19em;
  margin-bottom: 5px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #f6f6f6;
  transition: 0.2s ease-out all;
  font-weight: lighter;
  color: #323235;
}

.text-message .label {
  top: 10px;
}

.error-message {
  color: #ff3c3c;
  font-size: 0.8em;
  margin-top: 5px;
}
.card-submit {
  background: #3cb686;
  border-radius: 50px;
  width: 30%;
  height: 2.3em;
  align-self: center;
}
input[type='submit'] {
  border: none;
  background: none;
  cursor: pointer;
  border: none;
  color: #f6f6f6;
}

.card-submit .button:hover > input[type='submit'] {
  color: #323235;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 1s ease;
  background: #f6f6f6;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  border: 1px solid #3cb686;
}

/* Estilos para el formulario cuando está activo */
.form-card.active {
  border: 2px solid #3cb686;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-card.active label {
  color: #3cb686;
}

/* Estilos para el mensaje de éxito */
.success-message {
  text-align: center;
  color: #3cb686;
  font-size: 1.2em;
}

.invalid-input,
input[type='text'].invalid-input,
input[type='email'].invalid-input,
textarea.invalid-input {
  border-color: #ff3c3c;
  color: #ff3c3c;
}

label {
  width: 100%;
  position: relative;
  margin: 10px;
}

/* Estilos para el formulario cuando está activo */
.form-card.active {
  border: 2px solid #3cb686;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-card.active label,
.form-card label input:not([type='submit']):not([type='checkbox']) {
  font-size: 0.9em;
}

.form-card label input:not([type='submit']):not([type='checkbox']):focus {
  border-color: #3cb686;
}

.writing .label {
  padding: 2px 5px;
  border-radius: 5px;
  top: -11px;
  left: 0;
  transform: scale(0.7);
}
