.card-portfolio {
  height: 80vh;
  width: 80vw;
}

.main-card {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 8px 0px #00000080;
}

.card-presentation {
  width: 40%;
  height: 100%;
  background: -webkit-linear-gradient(to right, #069aac, #3cb686, #75d45d);
  background: linear-gradient(to right, #069aac, #3cb686, #75d45d);
}
