*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke;
}

.card{
  border-radius: 25px;
}

a{
  text-decoration: none;
}

li{
  list-style:none;
}

h1{
  font-size: 2em;
  background: linear-gradient(to right, #069AAC, #3CB686, #75D45D);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2{
  font-size: 1em;
  font-weight: bold;
  padding: .5em;
}