.experience-flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.experience-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
    width: 80%;
    max-width: 600px;
}

.experience-card article{
    padding: 20px;
    width: 100%;
    height: auto;
    box-shadow: none;
    cursor: context-menu;
    background-color: #eceff1;
    border-radius: 24px;
    transition: all .2s ease-out;
    overflow: hidden;
    position: relative;
}

.experience-card article:hover{
    background-color: #f6f6f6;
    transform: scale(1.02);
    box-shadow: 0 0 #e6ebef, 0 4px 24px rgba(0, 0, 0, .08);
}
.experience-card.left {
    align-self: flex-start;
}

.experience-card.right {
    align-self: flex-end;
}

.experience-card h2 {
    margin: 0;
}

.experience-card p {
    margin: 5px 0;
    text-wrap: balance;
    margin-top: 10px;
    font-size: 0.9em;
    text-align: justify;
}

.date-card{
    color: #5e5e63;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 160%;
}
.date-card span{
    font-size: 0.8em;
    opacity: .5;
}
.download-exp-icon svg{
    position: absolute;
    right: 5%;
    top: 5%;
    width: 2em;
    height: 2em;
    fill: #5e5e63;
    transition: .3s ease-out all;
}

.download-exp-icon svg:hover{
    fill: #3CB686;
    transform: scale(1.1);
}