.main-card{
    height: 80vh;
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 8px 0px #00000080;
    
}

.main-card main{
    width: 40%;
    height: 100%;
    background: -webkit-linear-gradient(to right, #069AAC, #3CB686, #75D45D);
    background: linear-gradient(to right, #069AAC, #3CB686, #75D45D);
}