.skills-container {
    text-align: center;
    margin: 40px;
  }
.skills-container h3{
  text-align: left;
}
  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill-icon {
    font-size: 48px;
    margin-bottom: 10px;
    color: #323235;
  }
  
  .skill-name {
    font-size: 14px;
    font-weight: bold;
  }
  