
.presentation-box{
    text-align: center;
    width: 100%;
    max-height: 9.375em;
}

.first-card h1 {
    font-size: 1.6em; /* Puedes ajustar el tamaño del nombre según tus preferencias */
    padding: 0 1.33em;
    color: #eceff1;
}

.subtitle {
    font-size: 1.1em; /* Tamaño más pequeño para el subtítulo */
    padding: .33em; /* Espacio entre el nombre y el subtítulo */
    color: #eceff1;
}