.card-profesional{
    position: fixed;
    z-index: 2;
    width: 56%;
    height: 80vh;
    overflow-y: scroll;
}

.card-profesional .card-text {
    width: 100%;
    text-align: justify;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text p {
    margin-top: 10px;
    font-size: 0.9em;
    font-style: italic;
    width: 50%;
    text-align: justify;
}
.card-tecnologies{
    background-color: white;
}

.card-about {
    height: 100%;
}

.parallax {
    width: 100%;
    height: 100%;
}

.parallax figure {
    overflow: hidden;
    height: 100%;
    border-radius: 25px;
}

.parallax figure img {
    height: 100%;
}

.card-background-dogs {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.card-window {
    width: 100%;
    height: 80px;
}
