.socialMedia-box{
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.Icon-svg {
    width: 1.9em;
    height: 1.9em;
    box-shadow: 2px 2px 8px 0px #00000080;
    border-radius:50%;
  }