.socialMedia-box{
    padding: 2em 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.Icon-svg {
    width: 2.2em;
    height: auto;
    box-shadow: 2px 2px 8px 0px #00000080;
    border-radius:50%;
    transition: .9s ease all;
}

.Icon-svg:hover {
    transform: scale(.9);
}